<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/navstyle.css" />
  </head>
  <body>
    <h1>Posts:</h1>
    <% if(currentUser){ %> <% if(currentUser.membership==='member' ||
    currentUser.membership==='admin' ){ %>
      <button><h3><a href="/catalog/createpost">Create post</a></h3></button>
    
    <%}%><%}%>
    <hr>
    <% for(var i=0; i<post.length ; i++){ %>
      <div class="displayPost">
        <h5><%= post[i].title %></h5>

        <hr />

        <p><%= post[i].text %></p>

        <% if( post[i].edited==="true" ){ %>

        <p>edited</p>

        <%}%>

        <hr />

        <% if(currentUser){ %> <% if(currentUser.membership==='member' ||
        currentUser.membership==='admin' ){ %>

        <p>By <%= post[i].author.username %></p>

        <%}else {%>

        <p>Anonymous</p>

        <%}%> <% if(currentUser.membership==='admin' ){ %>

        <p><a href="post.url+'/delete'">Delete Post</a></p>

        <%}%> <% if(currentUser.id===post[i].author.id){%>

        <p><a href="post.url+'/update'">Edit post</a></p>

        <% }%> <%}else {%>

        <p>Anonymous</p>

        <%}%>
      </div>

      <%}%>
    
  </body>
</html>
