<!DOCTYPE html>
<html>
  <head>
    <%- include('header') -%>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/navstyle.css' />
  </head>
  <body>
    <h2>Posts:</h2>
    <hr>
    <!-- <% for(var i=0; i<post.length ; i++){ %>
      <h5><%= post.title %></h5>
      <hr>
      <p><%= post.text %></p>
      <hr>
      <% if(<%= post.edited %>==="true"){ %>
        <p>edited</p>
      <%}%>
    <%}%>  
      <hr>
      <% if(currentUser){ %>
        <% if(currentUser.membership==='member' || currentUser.membership==='admin'  ){ %>
          <p>By currentUser.author</p>
        <%}else {%>
          <p>Anonymous</p>
        <%}%>
        
      <%}else {%>
        <p>Anonymous</p>
      <%}%> -->





    

 
    
  </body>
</html>
